################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/Variable/.vs/Variable
/opeartor/.vs/opeartor
/Varialbe_02/.vs/Varialbe_02
/loop/.vs/loop
/func/.vs/func
/func/func/x64/Debug
